<h1>Welcome to the Nested Forms Lab!</h1>
 <form method="POST" action="/pirates">
      <label for="name">Pirate Name: </label>
      <input type="text" name='name'><br>
      <label for="weight">Pirate Weight: </label>
      <input type="text" name='weight'><br>
      <label for="height">Pirate Height: </label>
      <input type="text" name='height'><br>
      <label for="ship1_name">Ship1 Name: </label>
      <input type="text" name='ship1_name'><br>
      <label for="ship1_type">Ship1 Type: </label>
      <input type="text" name='ship1_type'><br>
      <label for="ship1_booty">Ship1 Booty: </label>
      <input type="text" name='ship1_booty'><br>
      <label for="ship2_name">Ship2 Name: </label>
      <input type="text" name='ship2_name'><br>
      <label for="ship2_type">Ship2 Type: </label>
      <input type="text" name='ship2_type'><br>
      <label for="ship2_booty">Ship2 Booty: </label>
      <input type="text" name='ship2_booty'><br>
      <input id="submit" name="submit" type="submit">
    </form>
